html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  font-size: 32px;
}
.flex-container {
  display: flex;
}
.wp {
  height: 100%;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  content: '';
}
.music {
  background-image: url('../images/music.png');
  width: 0.85333333rem;
  height: 0.85333333rem;
  background-size: contain;
  position: fixed;
  top: 0.53333333rem;
  right: 0.53333333rem;
}
.music.play {
  animation: music 2s infinite linear;
}
#bgMusic {
  display: none;
}
.up {
  background-image: url('../images/up.png');
  width: 0.53333333rem;
  height: 0.29333333rem;
  position: fixed;
  background-size: contain;
  z-index: 100;
  left: 50%;
  margin-left: -0.26666667rem;
  bottom: 0.53333333rem;
  z-index: 10;
  animation: arrow 1.5s infinite linear;
}
img {
  display: block;
}
.img-100 {
  width: 100%;
}
.color-1 {
  color: #fcf698;
}
.color-2 {
  color: #fff;
}
.color-666 {
  color: #666;
}
.ll {
  float: left;
}
.rr {
  float: right;
}
input,
textarea,
button,
div,
img,
p {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  border: 0;
}
.fullPage-wp {
  transform: translate3d(0, 0, 0);
}
.fullPage-wp:after {
  display: block;
  content: ' ';
  height: 0;
  clear: both;
}
.fullPage-wp.anim {
  transition: all 500ms ease-out 0s;
}
.fullPage-page {
  display: block;
  overflow: hidden;
}
.fullPage-dir-h {
  float: left;
}
.wp {
  background-image: url('../images/h02_bg.png');
  background-size: cover;
  background-attachment: fixed;
  -webkit-animation: bgMove 60s linear infinite;
  animation: bgMove 60s linear infinite;
}
.wp.filter-blur {
  background: none;
  -webkit-animation: none;
  animation: none;
  position: relative;
}
.wp.filter-blur:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
  -webkit-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url('../images/h01_bg.jpg');
  background-size: cover;
  -webkit-animation: bgMove 60s linear infinite;
  animation: bgMove 60s linear infinite;
}
@keyframes bgMove {
  0% {
    background-position: 0;
  }
  50% {
    background-position: -240px;
  }
  100% {
    background-position: 0px;
  }
}
@keyframes bgBlur {
  0% {
    -webkit-filter: blur(5px);
  }
  50% {
    -webkit-filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(5px);
  }
}
.page {
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
  position: relative;
  overflow: hidden;
}
.page1-wrap {
  background-color: rgba(255, 255, 255, 0.9);
}
.page1-wrap .page1-bg {
  position: absolute;
  top: 1.33333333rem;
  left: 0;
  right: 0;
}
.page1-wrap .page1-bg img {
  margin: 0 auto;
  width: 8.4rem;
}
.page1-wrap .page1-5 {
  position: absolute;
  top: 2.4rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: #b60;
  text-shadow: 0 0 3px #fff;
  margin-top: 1.06666667rem;
}
.page1-wrap .page1-5 .marrier {
  font-size: 72px;
}
[data-dpr="2"] .page1-wrap .page1-5 .marrier {
  font-size: 48px;
}
[data-dpr="2.5"] .page1-wrap .page1-5 .marrier {
  font-size: 60px;
}
[data-dpr="2.75"] .page1-wrap .page1-5 .marrier {
  font-size: 66px;
}
[data-dpr="3"] .page1-wrap .page1-5 .marrier {
  font-size: 72px;
}
[data-dpr="4"] .page1-wrap .page1-5 .marrier {
  font-size: 96px;
}
.page1-wrap .page1-6 {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
}
.page1-wrap .page1-6 img {
  margin: auto;
  width: 3.2rem;
}
.page1-wrap .page1-7 {
  position: absolute;
  top: 6.66666667rem;
  left: 0;
  width: 100%;
  text-align: center;
}
.page2-wrap .page2-1 {
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.page2-wrap .page2-1 img {
  width: 5.04rem;
  margin: auto;
}
.page2-wrap .page2-2 {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}
.page2-wrap .page2-2 img {
  margin: auto;
}
.page3-wrap {
  text-shadow: 0 0 3px #fff;
}
.page3-wrap .page3-5 {
  background: rgba(0, 126, 128, 0.5) url('../images/page4_1.png');
  border-radius: 5px;
  width: 2.49333333rem;
  height: 0.62666667rem;
  margin: 0 auto;
  margin-top: 0.73333333rem;
  background-size: contain;
}
.page3-wrap .map {
  width: 7.73333333rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 0.4rem;
}
.page3-wrap .map #map-container {
  width: 100%;
  height: 100%;
}
.page3-wrap .GPS {
  text-align: center;
}
.page3-wrap .GPS a {
  text-decoration: none;
  color: #fff;
  background-color: #81cdec;
  padding: 0.5em;
  width: 6em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.53333333rem;
  font-size: 42px;
  display: block;
}
[data-dpr="2"] .page3-wrap .GPS a {
  font-size: 28px;
}
[data-dpr="2.5"] .page3-wrap .GPS a {
  font-size: 35px;
}
[data-dpr="2.75"] .page3-wrap .GPS a {
  font-size: 39px;
}
[data-dpr="3"] .page3-wrap .GPS a {
  font-size: 42px;
}
[data-dpr="4"] .page3-wrap .GPS a {
  font-size: 56px;
}
.page3-wrap .data-info {
  margin-top: 0.26666667rem;
  font-size: 42px;
  text-align: center;
}
[data-dpr="2"] .page3-wrap .data-info {
  font-size: 28px;
}
[data-dpr="2.5"] .page3-wrap .data-info {
  font-size: 35px;
}
[data-dpr="2.75"] .page3-wrap .data-info {
  font-size: 39px;
}
[data-dpr="3"] .page3-wrap .data-info {
  font-size: 42px;
}
[data-dpr="4"] .page3-wrap .data-info {
  font-size: 56px;
}
.page3-wrap .data-info div {
  margin-bottom: 0.53333333rem;
}
.page3-wrap .page3-text {
  font-size: 42px;
  color: #fcf698;
  width: 4.26666667rem;
  margin: 0 auto;
  margin-top: 2.93333333rem;
  position: relative;
  text-align: center;
}
[data-dpr="2"] .page3-wrap .page3-text {
  font-size: 28px;
}
[data-dpr="2.5"] .page3-wrap .page3-text {
  font-size: 35px;
}
[data-dpr="2.75"] .page3-wrap .page3-text {
  font-size: 39px;
}
[data-dpr="3"] .page3-wrap .page3-text {
  font-size: 42px;
}
[data-dpr="4"] .page3-wrap .page3-text {
  font-size: 56px;
}
.page3-wrap .page3-text:before {
  content: "";
  border-top: 1px solid #fcf698;
  display: block;
  position: absolute;
  width: 0.8rem;
  top: 0.2rem;
  left: 0;
}
.page3-wrap .page3-text:after {
  content: "";
  border-top: 1px solid #fcf698;
  display: block;
  position: absolute;
  width: 0.8rem;
  top: 0.2rem;
  right: 0;
}
.page4-wrap .page3-1 {
  display: flex;
  margin-top: 3.33333333rem;
}
.page4-wrap .page3-1 img {
  margin: auto;
}
.page4-wrap .page5-5 {
  background-image: url('../images/page5_5.png');
  background-color: #779bb4;
  width: 2.50666667rem;
  height: 0.61333333rem;
  margin: 0 auto;
  margin-top: 0.73333333rem;
  background-size: contain;
}
.page4-wrap .form {
  display: none;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: rgba(11, 70, 78, 0.3);
}
.page4-wrap .form .page5-name {
  text-align: center;
}
.page4-wrap .form .page5-name .name_val {
  text-align: center;
  border-radius: 0.66666667rem;
  width: 7.46666667rem;
  height: 1.06666667rem;
  font-size: 42px;
}
[data-dpr="2"] .page4-wrap .form .page5-name .name_val {
  font-size: 28px;
}
[data-dpr="2.5"] .page4-wrap .form .page5-name .name_val {
  font-size: 35px;
}
[data-dpr="2.75"] .page4-wrap .form .page5-name .name_val {
  font-size: 39px;
}
[data-dpr="3"] .page4-wrap .form .page5-name .name_val {
  font-size: 42px;
}
[data-dpr="4"] .page4-wrap .form .page5-name .name_val {
  font-size: 56px;
}
.page4-wrap .form .page5-textarea {
  text-align: center;
  margin-top: 0.93333333rem;
}
.page4-wrap .form .page5-textarea .textarea_val {
  border-radius: 0.09333333rem;
  width: 7.46666667rem;
  min-height: 3.2rem;
  padding: 0.13333333rem;
  font-size: 42px;
  box-sizing: border-box;
}
[data-dpr="2"] .page4-wrap .form .page5-textarea .textarea_val {
  font-size: 28px;
}
[data-dpr="2.5"] .page4-wrap .form .page5-textarea .textarea_val {
  font-size: 35px;
}
[data-dpr="2.75"] .page4-wrap .form .page5-textarea .textarea_val {
  font-size: 39px;
}
[data-dpr="3"] .page4-wrap .form .page5-textarea .textarea_val {
  font-size: 42px;
}
[data-dpr="4"] .page4-wrap .form .page5-textarea .textarea_val {
  font-size: 56px;
}
.page4-wrap .form .page5-num {
  text-align: center;
  margin-top: 0.66666667rem;
}
.page4-wrap .form .page5-num .num_val {
  text-align: center;
  border-radius: 0.66666667rem;
  width: 7.46666667rem;
  height: 1.06666667rem;
  font-size: 42px;
}
[data-dpr="2"] .page4-wrap .form .page5-num .num_val {
  font-size: 28px;
}
[data-dpr="2.5"] .page4-wrap .form .page5-num .num_val {
  font-size: 35px;
}
[data-dpr="2.75"] .page4-wrap .form .page5-num .num_val {
  font-size: 39px;
}
[data-dpr="3"] .page4-wrap .form .page5-num .num_val {
  font-size: 42px;
}
[data-dpr="4"] .page4-wrap .form .page5-num .num_val {
  font-size: 56px;
}
.page4-wrap .form .page5-button {
  text-align: center;
  margin-top: 0.8rem;
}
.page4-wrap .form .page5-button .accept {
  text-align: center;
  border-radius: 0.66666667rem;
  width: 7.46666667rem;
  height: 1.06666667rem;
  font-size: 42px;
  color: #d52e31;
  background: #fff;
  font-size: 48px;
}
[data-dpr="2"] .page4-wrap .form .page5-button .accept {
  font-size: 28px;
}
[data-dpr="2.5"] .page4-wrap .form .page5-button .accept {
  font-size: 35px;
}
[data-dpr="2.75"] .page4-wrap .form .page5-button .accept {
  font-size: 39px;
}
[data-dpr="3"] .page4-wrap .form .page5-button .accept {
  font-size: 42px;
}
[data-dpr="4"] .page4-wrap .form .page5-button .accept {
  font-size: 56px;
}
[data-dpr="2"] .page4-wrap .form .page5-button .accept {
  font-size: 32px;
}
[data-dpr="2.5"] .page4-wrap .form .page5-button .accept {
  font-size: 40px;
}
[data-dpr="2.75"] .page4-wrap .form .page5-button .accept {
  font-size: 44px;
}
[data-dpr="3"] .page4-wrap .form .page5-button .accept {
  font-size: 48px;
}
[data-dpr="4"] .page4-wrap .form .page5-button .accept {
  font-size: 64px;
}
.page4-wrap .alert {
  font-size: 42px;
  text-align: center;
  margin-top: 1.33333333rem;
}
[data-dpr="2"] .page4-wrap .alert {
  font-size: 28px;
}
[data-dpr="2.5"] .page4-wrap .alert {
  font-size: 35px;
}
[data-dpr="2.75"] .page4-wrap .alert {
  font-size: 39px;
}
[data-dpr="3"] .page4-wrap .alert {
  font-size: 42px;
}
[data-dpr="4"] .page4-wrap .alert {
  font-size: 56px;
}
.page4-wrap .circleBtn {
  color: #d52e31;
  width: 2.66666667rem;
  height: 2.66666667rem;
  border-radius: 100%;
  background: #fff;
  position: absolute;
  text-align: center;
  line-height: 2.66666667rem;
  left: 50%;
  top: 50%;
  margin-top: -1.33333333rem;
  margin-left: -1.33333333rem;
}
.page4-wrap .container-wrap .container {
  position: relative;
  width: 3.33333333rem;
  height: 3.33333333rem;
  margin: 0 auto;
  margin-top: 4rem;
}
.page4-wrap .container-wrap .container .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #779bb4;
  color: #fff;
  font-size: 54px;
  text-align: center;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  margin-left: -1.6rem;
  margin-top: -1.6rem;
  border-radius: 100%;
  z-index: 2;
}
[data-dpr="2"] .page4-wrap .container-wrap .container .dot {
  font-size: 36px;
}
[data-dpr="2.5"] .page4-wrap .container-wrap .container .dot {
  font-size: 45px;
}
[data-dpr="2.75"] .page4-wrap .container-wrap .container .dot {
  font-size: 50px;
}
[data-dpr="3"] .page4-wrap .container-wrap .container .dot {
  font-size: 54px;
}
[data-dpr="4"] .page4-wrap .container-wrap .container .dot {
  font-size: 72px;
}
.page4-wrap .container-wrap .container .pulse1 {
  position: absolute;
  width: 5.86666667rem;
  height: 5.86666667rem;
  background: #fff;
  left: 50%;
  top: 50%;
  margin-left: -2.93333333rem;
  margin-top: -2.93333333rem;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  background: #6ac7d6;
  -webkit-animation: warn 2s ease-out infinite;
  animation: warn 2s ease-out infinite;
}
.page4-wrap .container-wrap .c-btn-text {
  width: 7.33333333rem;
  padding-top: 1.33333333rem;
  font-size: 48px;
  color: #999;
  margin: 0 auto;
}
[data-dpr="2"] .page4-wrap .container-wrap .c-btn-text {
  font-size: 32px;
}
[data-dpr="2.5"] .page4-wrap .container-wrap .c-btn-text {
  font-size: 40px;
}
[data-dpr="2.75"] .page4-wrap .container-wrap .c-btn-text {
  font-size: 44px;
}
[data-dpr="3"] .page4-wrap .container-wrap .c-btn-text {
  font-size: 48px;
}
[data-dpr="4"] .page4-wrap .container-wrap .c-btn-text {
  font-size: 64px;
}
.page4-wrap .modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.page4-wrap .modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.06666667rem;
  width: 5.33333333rem;
  height: 3.73333333rem;
  margin-left: -2.66666667rem;
  margin-top: -1.86666667rem;
  background: #fff;
  text-align: center;
  z-index: 10000000;
}
.page4-wrap .modal .modal-content div {
  font-size: 42px;
  margin-top: 0.8rem;
  color: #999;
}
[data-dpr="2"] .page4-wrap .modal .modal-content div {
  font-size: 28px;
}
[data-dpr="2.5"] .page4-wrap .modal .modal-content div {
  font-size: 35px;
}
[data-dpr="2.75"] .page4-wrap .modal .modal-content div {
  font-size: 39px;
}
[data-dpr="3"] .page4-wrap .modal .modal-content div {
  font-size: 42px;
}
[data-dpr="4"] .page4-wrap .modal .modal-content div {
  font-size: 56px;
}
.page4-wrap .modal .modal-content .ok {
  margin-top: 1rem;
  width: 1.6rem;
  height: 0.74666667rem;
  line-height: 0.74666667rem;
  border-radius: 0.06666667rem;
  color: #fff;
  background: #ef5656;
  font-size: 42px;
}
[data-dpr="2"] .page4-wrap .modal .modal-content .ok {
  font-size: 28px;
}
[data-dpr="2.5"] .page4-wrap .modal .modal-content .ok {
  font-size: 35px;
}
[data-dpr="2.75"] .page4-wrap .modal .modal-content .ok {
  font-size: 39px;
}
[data-dpr="3"] .page4-wrap .modal .modal-content .ok {
  font-size: 42px;
}
[data-dpr="4"] .page4-wrap .modal .modal-content .ok {
  font-size: 56px;
}
.page5-wrap {
  height: 100%;
  background: rgba(239, 86, 86, 0.9);
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}
.page5-wrap .logo {
  background-image: url('../images/logo.png');
  width: 1.98666667rem;
  height: 1.98666667rem;
  background-size: contain;
  margin: 0 auto;
  margin-top: 1.86666667rem;
}
.page5-wrap .company {
  font-size: 42px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
}
[data-dpr="2"] .page5-wrap .company {
  font-size: 28px;
}
[data-dpr="2.5"] .page5-wrap .company {
  font-size: 35px;
}
[data-dpr="2.75"] .page5-wrap .company {
  font-size: 39px;
}
[data-dpr="3"] .page5-wrap .company {
  font-size: 42px;
}
[data-dpr="4"] .page5-wrap .company {
  font-size: 56px;
}
[data-dpr="2"] .page5-wrap .company {
  margin-top: 20px;
}
[data-dpr="2.5"] .page5-wrap .company {
  margin-top: 25px;
}
[data-dpr="2.75"] .page5-wrap .company {
  margin-top: 28px;
}
[data-dpr="3"] .page5-wrap .company {
  margin-top: 30px;
}
[data-dpr="4"] .page5-wrap .company {
  margin-top: 40px;
}
.page5-wrap .iphone-down,
.page5-wrap .android-down {
  width: 4.93333333rem;
  height: 1.6rem;
  background-size: contain;
  margin: 0 auto;
  margin-top: 1.53333333rem;
}
.page5-wrap .iphone-down {
  background-image: url('../images/iphone_down.png');
}
.page5-wrap .android-down {
  background-image: url('../images/android_down.png');
}
.img-wrap {
  height: 100%;
  overflow: hidden;
  width: 100%;
  display: flex;
}
.img-wrap div {
  margin: auto;
}
@keyframes arrow {
  0%,
  30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -8px);
  }
}
@keyframes music {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: .5s;
  visibility: visible !important;
}
.fadeIn1s {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: 1s;
  visibility: visible !important;
}
.fadeIn15s {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  visibility: visible !important;
}
.fadeIn25s {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-delay: 2.5s;
  visibility: visible !important;
}
@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  animation-delay: 2s;
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  animation-delay: 2s;
}
@keyframes stretchLeft {
  0% {
    transform: scaleX(0.3);
    display: none;
  }
  40% {
    transform: scaleX(1.02);
  }
  60% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(1);
  }
}
.stretchLeft {
  animation-name: stretchLeft;
  -webkit-animation-name: stretchLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
}
@keyframes warn {
  0% {
    transform: scale(0.3);
    opacity: 0.0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}
